// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 /*background: #707070;*/
 background-image: url("http://www.clipartbest.com/cliparts/RiA/698/RiA698riL.png");
 background-size: 100% 75px;
 opacity: .7;
 // position: relative;
 // top: 0;
 // left: 0;
 height: 75px;
}

.NavBar h1 {
  font-size: xx-Large;
  text-align: center;
  font-family: "Limelight";
  color: black;
  vertical-align: middle;
  margin-top: 0px;
  padding-top: 20px;
}

.NavBar img {
  position: absolute;
    height: 40px;
    width: 40px;
}

#camera {
  right: 61%;
    top: 18px;
}

#slate {
  left: 61%;
    top: 20px;
}

.NavBar:hover {
  opacity: 1;
}

.flash {
  color: gray;
  position: absolute;
  top: 13px;
  left: 11px;
  max-width: 420px;
  max-height: 35px;
}

.error {
  color: red;
}

.search{
  position: absolute;
  top: 43px;
  left: 11px;
}

.search .off {
  display: none;
}

.user {
  color: black;
  text-align: right;
  position: relative;
  float: right;
  width: 35%;
  top: -40px;
  right: 20px;
}

.userForm label {
  position: absolute;
  right: 235px;
  margin-top: 7px;}

.userForm input {
  position: absolute;
  right: 80px;
  margin-top: 6px;}

.userForm button {
  position: relative;
}

.user h3 {
  position: relative;
  top: 5px;
}

.user button {
  margin-top: 6px;
}
