// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movies{
  width: 800px;
  position:absolute;
  top: 75px;
  left:15%;
  right:0px;
  bottom:37px;
  overflow-y:scroll;
}

.index li {
  display: block;
  position: relative;
  left: -40px;
  top: -10px;
  right: -50px;
  float: left;
  background-size: 100%;
  background-image: url("http://www.clipartbest.com/cliparts/yco/g5r/ycog5rMdi.jpeg");
  background-position-y: -225px;
  opacity: .7;
  height: 250px;
  transition: height 1s;
  padding: 0px 100px;
  width: 600px;
  margin: 0 auto;
  outline: 5px solid black;
}

.index li:hover{
  height: 300px;
  opacity: .9;
}

.index li:hover img{
  width: 50%;
  height: auto;
  opacity: 1;
}


.movies button {
  display: block;
  float: left;
  margin: 10px auto;
  margin-left: 40px;
}

.index_item {
  width: 590px;
  height: 240px;
  transition: height 1s;
  display: block;
  float: left;
  color: black;
  margin: 0 auto;
  padding: 5px;
}
.index_item h1 {
  color: white;
}

.index_item:hover {
  cursor: pointer;
  color: blue;
  height: 290px;
}

.index_item img {
  height: auto;
  transition: width 1s;
  width: 40%;
  float: right;
  vertical-align: bottom;
}

.sidebar {
  width: 400px;
  height: 400px;
  background-image: url("http://www.clipartbest.com/cliparts/Rid/gEX/RidgEXb6T.png");
  background-size: 100%;
  display: block;
  position: fixed;
  right: 20px;
  top: 55px;
}

.sidebarContents {
  top: 152px;
  left: 18px;
  position: absolute;
  width: 370px;
  height: 205px;
}

.sidebarContents div {
  margin-top: -20px;
}

.line2 {
  height: 50px;
}

.line3 {
  height: 50px;
}

.sidebar h4 {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}
