// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movies{
  width: 900px;
}
.index li:hover{
  height:400px;
}
.index li {
  display: block;
  float: left;
  background: gray;
  height: 200px;
  transition: height 2s;
  width: 900px;
  margin: 0 auto;
  outline: 5px solid white;
}
.index li:hover{
  cursor: pointer;
}
.movies button {
  display: block;
  float: right;
  margin: 10px auto;
}

.index_item {
  width: 900px;
  height: inherit;
  display: block;
  float: left;
  background: gray;
  margin: 0 auto;
  margin-left: 50px;
  outline: 5px solid white;
}

.index_item img {
  height: 180px;
  transition: height 2s;
  width: auto;
  float: right;
  margin-right: 60px;
  margin-top: -50px;
}

.index_item:hover img{
  height: 360px;
}
