// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movies{
  width: 800px;
  position:absolute;
  top: 75px;
  left:15%;
  right:0px;
  bottom:40px;
  overflow-y:scroll;
}

.search{
  position: fixed;
  top: 43px;
  left: 1.8%;
  width: 19%;
  opacity: .7;
}

.search:hover{
  opacity: .9;
}

// .search .off {
//   display: none;
// }

.index li {
  background-size: 100%;
  background-image: url("http://www.clipartbest.com/cliparts/yco/g5r/ycog5rMdi.jpeg");
  background-position-y: -225px;
  opacity: .7;
  height: 250px;
  transition: height 1s;
  padding: 0px 100px;
  width: 600px;
  margin: 0 auto;
  outline: 5px solid black;
}

.index li:hover{
  height: 300px;
  opacity: .9;
}

.index li:hover img{
  width: 50%;
  height: auto;
  opacity: 1;
}


.movies button {
  display: block;
  float: left;
  margin: 10px auto;
  margin-left: 40px;
}

.index_item {
  width: 590px;
  height: 240px;
  transition: height 1s;
  display: block;
  float: left;
  color: black;
  margin: 0 auto;
  padding: 5px;
}
.index_item h1,.index_item h2,.index_item h3 {
  max-width: 50%;
}

.index_item:hover {
  cursor: pointer;
  color: blue;
  height: 290px;
}

.index_item img {
  height: auto;
  transition: width 1s;
  width: 40%;
  float: right;
  vertical-align: bottom;
}
