// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show{
  width: 900px;
  opacity: .9;
  display: block;
  float: left;
  background-size: 100% 110%;
  background-image: url("http://www.clipartbest.com/cliparts/yco/g5r/ycog5rMdi.jpeg");
  background-position-y: -60px;
  background-attachment: local;
  outline: 5px solid black;
  position:absolute;
  top: 75px;
  left: 12%;
  right:0px;
  bottom:37px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.movie {
  width: 693px;
  display: block;
  float: left;
  color: black;
  padding: 5px;
  margin: 20px 100px;

}

.movie h2 {
  max-width: 40%;
  font-size: xx-large;
}

.movie button {
  margin: 10px;
}

.movie img{
  width: 60%;

  max-height: 400px;
  float: right;
  margin-top: -88px;
}

.movie ul {
  list-style: none;
  margin-bottom: 40px;

}

.movie li {
  width: 90%;
  position: relative;
  left: 3.5%;
  border: 5px solid black;
  padding: 5px;
  border: 5px solid black;
  border-top: 0px;
}

.movie li:nth-child(1){
  border-top: 5px solid black;
}
