// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movies{
  width: 900px;
}
.index li:hover{
  height:400px;
}

.index li:hover img{
  height: 385px;
}

.index li {
  display: block;
  float: left;
  background: gray;
  height: 200px;
  transition: height 2s;
  width: 900px;
  padding: 0px 50px;
  margin: 0 auto;
  outline: 5px solid white;
}

.movies button {
  display: block;
  float: left;
  margin: 10px auto;
  margin-left: 40px;
}

.index_item {
  width: 890px;
  height: inherit;
  display: block;
  float: left;
  background: gray;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  outline: 5px solid white;
}

.index_item:hover {
  cursor: pointer;
  color: blue;
}

.index_item img {
  height: 185px;
  transition: height 2s;
  width: auto;
  float: right;
  margin-top: -55px;
}

.show{
    width: 900px;
    display: block;
    float: left;
    background: gray;
    padding: 0px 50px;
    margin: 15px auto;
    margin-left: 40px;
    outline: 5px solid white;
}

.movie {
  width: 890px;
  display: block;
  float: left;
  background: gray;
  padding: 5px;
  border-left: 5px solid white;
  border-right: 5px solid white;

}

.movie img{
  width: 600px;
  float: right;
  margin-top: -85px;
}
